<div class="mainPostGrid">
{{#each posts as |post|}}
    <div class="postDiv">
        <button class="mainBlogPost" id="blogPostBtn" value={{id}}>
            <h1 class="postAuthor">Author: {{ user.username }}</h1>
            <p class="postTitle">Blog: {{ title }}</p>
            <p class="mainCreated">Created: {{ format_date createdAt}}</p>
        </button>
    </div>
{{/each}}

</div>

<script src="./js/script.js"></script>