</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ post.username }}</p>
    <p>{{ blogPost }}</p>
    <p>{{ created_at }}</p>
    <div class="commentSubmit">
            <label>User Comment:</label>
            <input class="form-input" type="text" id="commentPost" name="commentPost" />
    </div>
    
    
</body>
</html>